<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>493145501314-tko2nj6mlchlc9diesnl0a840l9it2nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493145501314-tko2nj6mlchlc9diesnl0a840l9it2nn</string>
	<key>API_KEY</key>
	<string>AIzaSyBH35Ke0P0raCsuYrokUbrQ-MJYhkxRTI8</string>
	<key>GCM_SENDER_ID</key>
	<string>493145501314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>piercetu.SpartanDrive</string>
	<key>PROJECT_ID</key>
	<string>spartandrive-f1895</string>
	<key>STORAGE_BUCKET</key>
	<string>spartandrive-f1895.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:493145501314:ios:a58c8a11ec54cdf9</string>
	<key>DATABASE_URL</key>
	<string>https://spartandrive-f1895.firebaseio.com</string>
</dict>
</plist>
